* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor do fundo em modo escuro */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 150%;
    max-width: 350px;
    padding: 20px;
    background-color: #1e1e1e;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #333;
    color: white;
}

button {
    
    margin-right: 180px;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
    background-color: #013508;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button2 {
    width: 50%;
    padding: 10px;
    left: 150px;
    margin-left: 180px;
    font-size: 16px;
    background-color: #e2ad0093;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

button2:hover {
    background-color: #b3890085;
}

button:hover {
    background-color: #0135089f;
}

.resultado {
    margin-top: 20px;
    font-size: 22px;
    font-weight: bold;
}

.resultado2 {
margin-top: 5px;
margin-left: 15px;
font-size: 22px;
font-weight: bold;
}

.resultado3 {
margin-top: 5px;
font-size: 22px;
font-weight: bold;
}

.resultado4 {
    margin-top: 5px;
    font-size: 22px;
    margin-left: 59px;
    font-weight: bold;
}

.resultado5 {
        margin-top: 5px;
        font-size: 22px;
        font-weight: bold;
        margin-left: 40px;
    }


